


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Prediction Results</title>

<style>
body {
display: flex;
flex-direction: column;
align-items: center;
background-image: url('/static/images/CT.jpg');
background-repeat: no-repeat;
background-size: cover;
color: #ffffff; /* White text color */
}

h1 {
color: #8a69e4; /* Different light color for h1 element */
font-size: 2em; /* Larger font size for h1 element */
}

pre {
color: #ffffff; /* White text color for pre element */
font-size: 1.5em; /* Larger font size for pre element */
}
</style>
</head>
<body>

<h1>CT Radiomics-Based Model for Classification of Adnexal Masses :</h1>
<pre>{{ results }}</pre>

</body>
</html>
